@page
@model PlastikMarketim.Web.Pages.Account.AccessDeniedModel
@{
    Layout = "~/Pages/Admin/Shared/_LoginLayout.cshtml";
}
<div class="content d-flex justify-content-center align-items-center">
    <div class="flex-fill">
        <div class="text-center mb-3">
            <h1 class="error-title">403</h1>
            <h5>Bu sayfaya erişim izniniz yok</h5>
            <a href="/" class="nav-link"><i class="icon-home"></i> <span>Ana Sayfaya Dön</span></a>
        </div>
    </div>
</div>