@page
@model PlastikMarketim.Web.Pages.Account.ChangePasswordResultModel
@{
    Layout = "~/Pages/Admin/Shared/_LoginLayout.cshtml";
}
<div class="page-content">
    <div class="content d-flex justify-content-center align-items-center">
        @if (Model.Result)
        {
            <h5>Şifreniz başarıyla değiştirildi.</h5>
        }
        else
        {
            <h5>Şifreniz değiştirilirken hata oluştu.Lütfen daha sonra tekrar deneyiniz.</h5>
        }
    </div>
</div>