@page
@model PlastikMarketim.Web.Pages.Account.ForgotPasswordModel
@{
    Layout = "~/Pages/Admin/Shared/_LoginLayout.cshtml";
}

<div class="content d-flex justify-content-center align-items-center">
    <div class="abp-account-container" style="width:300px;height:500px;">
        <form class="forgot-password-form" method="post">
            @Html.AntiForgeryToken()
            <div class="card mb-0">
                <div class="card-body">
                    <div class="text-center mb-3">
                        <h3 class="mb-0">Şifremi unuttum</h3>
                        <br />
                        <p class="text-muted">E-posta adresinize bir şifre sıfırlama bağlantısı gönderilecektir. Birkaç dakika içerisinde bir e-posta almazsanız lütfen tekrar deneyin.</p>
                    </div>
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <input asp-for="Email" autofocus class="form-control" placeholder="Email">
                        <div class="form-control-feedback">
                            <i class="icon-mail5 text-muted"></i>
                        </div>
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="form-group">
                        <abp-button type="submit" button-type="Primary" name="Action" Value="Login" class="btn btn-primary btn-block mt-2 mb-3">Gönder</abp-button>
                    </div>
                    <div>
                        <a href="/Account/Login">
                            <i class="fa fa-long-arrow-left"></i> Giriş yap
                        </a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>