@page
@model PlastikMarketim.Web.Pages.Account.LoginModel
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.Basic.Themes.Basic.Components.PageAlerts
@inject IHtmlLocalizer<PlastikMarketim.Localization.PlastikMarketimResource> L
@inject Volo.Abp.AspNetCore.Mvc.UI.Alerts.IAlertManager Alerts
@inject Volo.Abp.Settings.ISettingProvider SettingProvider
@{ Layout = "~/Pages/Shared/_LoginLayout.cshtml"; }
@section scripts {
    <script src="~/global_assets/js/plugins/forms/styling/uniform.min.js"></script>
    <script src="~/global_assets/js/demo_pages/login.js"></script>
}

<p>TEST</p>